{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            <aside class="col-md-3 mx-auto">
                <!-- SIDEBAR -->
                <ul class="list-group">
                    <br>
                    <br>
                    <br>
                    <a class="list-group-item" href="{% url 'my_orders' %}"> My orders </a>
                    <a class="list-group-item" href="{% url 'change_password' %}"> Change Password </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
                <!-- SIDEBAR END -->
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </aside>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
{% comment %} <script>
const profileAPI = async () => {
    const token = localStorage.getItem("token");
    //const logout = document.getElementById("logout");
    refresh_token=JSON.parse(token).refresh;
    access_token=JSON.parse(token).access;
    const outgoing = {
        refresh: refresh_token
        //access:JSON.parse(token).access
    };

    const res= await fetch("http://127.0.0.1:8000/accounts/dashboard/",{
        method:"GET",
        headers:{
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'Authorization': 'Bearer '+access_token
    }
    });

    const data =await res.json();

    console.log(refresh_token);
    console.log(access_token);

    if (data.error){
        console.log(data.error);
    }
    if (data.success){
        console.log(data.success)
    }


};

profileAPI();

</script> {% endcomment %}


{% endblock %}
