{%extends 'base.html'%}


{%block content%}


<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
             {%include 'includes/alerts.html'%}
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            <form id="register-form">
                {%csrf_token%}


                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name</label>
                            <input type="first_name" class="form-control" placeholder="First Name" name="first_name">
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                            <input type="last_name" class="form-control" placeholder="Last Name" name="last_name">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Email Address</label>
                          <input type="email" class="form-control" placeholder="Email Address" name="email">
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                          <label>Phone Number</label>
                          <input type="phone_number" class="form-control" placeholder="Phone Number" name="phone_number">
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Create password</label>
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>Repeat password</label>
                            <input type="password" class="form-control" placeholder="Confirm Password" name="password2">
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" id="submit" class="btn btn-primary btn-block"> Register  </button>
                    </div> <!-- form-group// -->  
                </form>
                <div id="error-div" class="alert alert-danger d-none"></div>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="{%url 'login'%}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>

<script>

    const callApi=async()=>{
        const form=document.getElementById("register-form");
        const first_name=form.elements['first_name'].value;
        const last_name=form.elements['last_name'].value;
        const email=form.elements['email'].value;
        const phone_number=form.elements['phone_number'].value;
        const password=form.elements['password'].value;
        const password2=form.elements['password2'].value;


        const outgoing={
            first_name:first_name,
            last_name:last_name,
            email:email,
            phone_number:phone_number,
            password:password,
            password2:password2
        };

        const res=await fetch("http://127.0.0.1:8000/accounts/register/",
        {
            method:"POST",
            body:JSON.stringify(outgoing),
            headers:{
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
        });

        const data=await res.json();
        console.log(data);

        if (data.error){
            const errorDiv=document.getElementById("error-div");
            errorDiv.textContent=data.error;
            errorDiv.classList.remove("d-none")
        }
        if (data.email){
            const errorDiv=document.getElementById("error-div");
            errorDiv.textContent="Account with this email already exists.";
            errorDiv.classList.remove("d-none")
        }
        if (data.success){
            window.location.href = "http://127.0.0.1:8000/accounts/login/";
        }  
    }

    const form = document.getElementById("register-form");
    form.onsubmit = (e) => {
        e.preventDefault();
        callApi();
    }


</script>


{%endblock%}