{%load static%}
<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    
    <section class="header-main border-bottom">
        <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-2 col-md-3 col-6">
            <a href="{%url 'home'%}" class="brand-wrap">
                <img class="logo" src="https://pbs.twimg.com/media/FutpaMIacAAhOjN?format=png&name=small"> 
            </a> <!-- brand-wrap.// -->
        </div>
        <div class="col-lg col-sm col-md col-6 flex-grow-0">
            <div class="category-wrap dropdown d-inline-block float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
                    <i class="fa fa-bars"></i> All category 
                </button>
                <div class="dropdown-menu">
                    {% for category in links %}
                    <a class="dropdown-item" href="{{category.get_url}}"> {{category.category_name}} </a>
                    {% endfor %}
                </div>
            </div>  <!-- category-wrap.// -->
        </div> <!-- col.// -->
        <a href="{%url 'store'%}" class="btn btn-outline-primary">Store</a>
        <div class="col-lg  col-md-6 col-sm-12 col">
            <form action="{%url 'search'%}" class="search" method="GET"> <!--This will do the search in the page-->
                <div class="input-group w-100">
                    <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword"> <!--here keyword is kept because when the search is done then in searchbar we can see keyword=-->
                    
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                </div>
            </form> <!-- search-wrap .end// -->
        </div> <!-- col.// -->
        <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                    <div class="d-flex justify-content-end mb-3 mb-lg-0">
                        
                        <div class="widget-header">
                            {% comment %} <small class="title text-muted">Welcome guest!</small> {% endcomment %}
                            <div> 
                                <a href="http://127.0.0.1:8000/accounts/login/">Sign in</a> <span class="dark-transp"> | </span>
                                <a href="http://127.0.0.1:8000/accounts/register/"> Register</a>
                            </div>
                        </div>

                        <div class="widget-header">
                            {% comment %} <small class="title text-muted">Welcome {{user.first_name}}</small> {% endcomment %}
                            <div id="logged-in"> 
                                <button class='btn' id="profile" type="submit">Profile</a>
                                <button class='btn' id="logout" type="submit">logout</button>
                            </div>
                        </div>

                        <a href="{%url 'cart'%}" class="widget-header pl-3 ml-3">
                            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
                        </a>
                    </div> <!-- widgets-wrap.// -->
                </div> <!-- col.// -->
    </div> <!-- row.// -->
        </div> <!-- container.// -->
    </section> <!-- header-main .// -->
    
    
    
    
    </header> <!-- section-header.// -->
    
<script>
    var token1=localStorage.getItem('token');
    console.log(token1)
    const logoutAPI = async () => {
        const token = localStorage.getItem("token");
        const logout = document.getElementById("logout");
        refresh_token=JSON.parse(token).refresh;
        access_token=JSON.parse(token).access;
        const outgoing = {
            refresh: refresh_token
            //access:JSON.parse(token).access
        };

        const res= await fetch("http://127.0.0.1/accounts/logout",{
            method:"POST",
            body:outgoing,
            headers:{
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Authorization': 'Bearer'+access_token
        }
        });

        const data =await res.json();

        console.log(refresh_token);
        //console.log(access_token);

        if (data.error){
            console.log(data.error);
        }
        if (data.success){
            console.log(data.success)
        }


    };



    const logout_button=document.getElementById("logout");
    const widgetHeader=document.querySelector('.widget-header');
    const loggInButtons=document.querySelector("#logged-in");
console.log(loggInButtons,'logged in')

if(token1){
widgetHeader.style.display='none';
loggInButtons.style.display='flex';

}else{
    loggInButtons.style.display='none';


}

    logout_button.onclick=(e)=>{
        e.preventDefault();
        //logoutAPI();
        localStorage.removeItem("token");
        document.location.reload();   
    }

</script>
