{% extends 'base.html'%}

{%load static%}

{%block content%}


<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    

    <div class="row">
        
        <aside class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h5>
                  Billing Address
                    </h5>
                </div>
                <div class="card-body">
                  <p class="card-text mb-0">{{order.full_name}}</p>
                  <p class="card-text mb-0">{{order.full_address}}</p>
                  <p class="card-text mb-0">{{order.city}}</p>
                  <p class="card-text mb-0">{{order.state}}</p>
                  <p class="card-text mb-0">{{order.phone}}</p>
                  <p class="card-text mb-0">{{order.email}}</p>
                  {%if order.order_note%}
                    <b>Order Note: </b>{{order.order_note}}
                  {%endif%}

                </div>
              </div>


              <div class="card">
                <div class="card-header">
                    <h5>
                  Payment Method
                    </h5>
                </div>
                <div class="card-body">
                  <p class="card-text">Khalti</p>
                </div>
              </div>


    
        </aside> <!-- col.// -->
        <aside class="col-lg-4">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Total price:</dt>
                  <dd class="text-right">{{grand_total}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Tax:</dt>
                  <dd class="text-right"> {{tax}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Total:</dt>
                  <dd class="text-right text-dark b"><strong>{{grand_total}}</strong></dd>
                </dl>
                <hr>
                {% comment %} <p class="text-center mb-3">
                    <img src="{%static './images/misc/payments.png'%}" height="26">
                </p> {% endcomment %}

                <!--here Khalti button will load-->
                <div>
                <button id="payment-button">Pay with Khalti</button>
                </div>

            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->
    </section>




    <!--This script is for khalti payment-->

  <!--This script is for khalti payment-->
{% csrf_token %}
<script>
  var redirect_url="{%url 'order_complete'%}"
  function verifyPayment(payload) {
    var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
    $.ajax({
        url: "{% url 'payments' %}",
        type: "POST",
        headers: {
          "X-CSRFToken": csrf_token
        },
        data: payload,
        dataType: 'json',
        success: function (response) { window.location.href=redirect_url;},
        error: function (error) { alert(error.responseJSON['message']) }
    });
}

  var config = {
      // replace the publicKey with yours
      "publicKey": "{{khalti_public_key}}",
      "productIdentity": "{{order.order_number}}",
      "productName": "Dragon",
      "productUrl": "http://gameofthrones.wikia.com/wiki/Dragons",
      "paymentPreference": [
          "KHALTI",
          "EBANKING",
          "MOBILE_BANKING",
          "CONNECT_IPS",
          "SCT",
      ],
      "eventHandler": {
          onSuccess (payload) {
              // hit merchant api for initiating verfication
              console.log(payload);
              verifyPayment(payload)
          },
          onError (error) {
              console.log(error);
          },
          onClose () {
              console.log('widget is closing');
          }
      }
  };

  var checkout = new KhaltiCheckout(config);
  var btn = document.getElementById("payment-button");
  btn.onclick = function () {
      // minimum transaction amount must be 10, i.e 1000 in paisa.
      checkout.show({amount: 1000}); // hrer we can add {{grand_total}} alseo to change the orginal value
  }
</script>



{%endblock%}